@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda&family=Playfair+Display&family=Tenor+Sans&family=Protest+Guerrilla&family=Forum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background: rgb(250, 54, 54);
}

.grd {
    background-image: linear-gradient(-20deg, #999999 0%, #a3cfcd 100%);
}

@keyframes nav {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes exit-nav {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes menu {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes down {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes right-left {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(10%);
    }
}

@keyframes left-right {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(-10%);
    }
}


.animate-leftright {
    animation: nav 0.3s ease-in-out alternate-reverse both;
}

.animate-rightleft {
    animation: exit-nav 0.5s ease-in-out alternate-reverse both;
}

.animate-updown {
    animation: up-down 1.7s ease-in-out infinite alternate-reverse both;
}

.animate-updown-1 {
    animation: up-down 1.7s ease-in-out infinite alternate-reverse both;
    animation-delay: 850ms;
}

.animate-right-left {
    animation: right-left 3s ease-in-out infinite alternate-reverse both;
}

.animate-left-right {
    animation: left-right 3s ease-in-out infinite alternate-reverse both;
}

.animate-menu-0 {
    animation: menu 0.4s ease-in-out both;
}

.animate-menu-1 {
    animation: menu 0.4s ease-in-out both;
    animation-delay: 200ms;
}

.animate-menu-2 {
    animation: menu 0.4s ease-in-out both;
    animation-delay: 400ms;
}

.animate-menu-3 {
    animation: menu 0.4s ease-in-out both;
    animation-delay: 600ms;
}

.animate-down {
    animation: down 0.6s ease-in-out both;
}


body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
body::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: transparent;   
    display: none;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px gray;
    border: solid 1px transparent;
    border-radius: 20px;
    background-color: transparent;
    background-clip: padding-box;
}


.sc::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.sc::-webkit-scrollbar-track {
    background-color: transparent;
}

.sc::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: inset 0 0 10px 10px #9f9e9e;
    border: solid 5px transparent;
    background-color: transparent;
    background-clip: padding-box;
}

.grad{
    background: radial-gradient(closest-side, #747474, #3E3E3E, #252525);
}